<?xml version="1.0"?>
<robot name="trafficlights" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931" />
  <xacro:include filename="$(find road_description)/urdf/trafficlight/trafficlight_macro.xacro" />

  <link name="$(arg parent)">
  </link>
  
  <xacro:trafficlight name="semaphore_start1"
                      parent="$(arg parent)"
                      tag_dae="alvar0"
                      light_color="red"
                      light_material="Gazebo/RedGlow"
                      light_material2="Gazebo/GreenGlow">
    <origin xyz="1.05 -0.5 0" rpy="0 0 ${PI}"/>
  </xacro:trafficlight>
  
  <xacro:trafficlight name="semaphore_start2"
                      parent="$(arg parent)"
                      tag_dae="alvar0"
                      light_color="red"
                      light_material="Gazebo/RedGlow"
                      light_material2="Gazebo/GreenGlow">
    <origin xyz="-1.05 0.5 0" rpy="0 0 0"/>
  </xacro:trafficlight>
  
  <xacro:trafficlight name="semaphore_parking1"
                      parent="$(arg parent)"
                      tag_dae="alvar1"
                      light_color="blue"
                      light_material="Gazebo/Blue"
                      light_material2="Gazebo/Black">
    <origin xyz="1.55 -0.5 0" rpy="0 0 ${PI}"/>
  </xacro:trafficlight>
  
  <xacro:trafficlight name="semaphore_parking2"
                      parent="$(arg parent)"
                      tag_dae="alvar1"
                      light_color="blue"
                      light_material="Gazebo/Blue">
    <origin xyz="-3.1 -0.5 0" rpy="0 0 ${PI}"/>
  </xacro:trafficlight>

</robot>