<!-- -->
<launch>

  <arg name="world" default="empty"/>
  <arg name="gui"   default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find seat_car_gazebo)/worlds/$(arg world).world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

</launch>

